*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #FFF8F3;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.text-center{
    text-align: center;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section-heading p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid #FD6E0A;
    background-color: #FFF8F3;
    color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s all;
}
.cv-botton{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.cv-botton:hover{
    border: 1px solid #FD6E0A;
    background-color: #FFF8F3;
    color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s all;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3;
    background: url(../image/developer.png) , url(../image/header_bg.png),#FFF8F3;
    background-position: 23px 38px , bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

nav .nav-section{
    display: flex;
    align-items: center;
    gap: 51px;
}
.contact-btn{
    border: 1px solid #FD6E0A;
    background-color: #FFF8F3;
    color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s all;
}
.contact-btn:hover{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#banner{
    /* max-width: 1332px; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    width: 585px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;
}

#about .about-content{
    width: 75%;
    max-width: 1240px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

#about .about-info{
    display: flex;
    justify-content: space-around;
}
#about .about-info .info-card p{
    font-size: 20px;
    color: #757575;
}
#about .about-info .info-card h4{
    font-size: 20px;
}

#skills{
    padding: 130px;
}

#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}

.skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000027;
}
.skill-box .skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-box .skill-card h3{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}

#resume{
    padding-top: 130px;
}
#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.resume-container hr{
    margin: 30px 0;
}
#resume .resume-container .section-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}
.resume-container .resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-container .resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resume-container .resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #474747;
}
.resume-container .resume-card .card-details{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}

footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
.footer-container h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.footer-container .social{
    max-width: 562px;
}

.footer-container .social p{
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}

.footer-container .icons a{
    margin-right: 24px;

}

.footer-container form input[type="text"],.footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    border: 0.5px solid;
    margin-bottom: 24px;
    border-radius: 5px;
    color: #757575;
}